// 移动端分类切换动画
.showProfile{
  animation: showProfileAnimation .2s;
  animation-fill-mode: forwards;
}
.hiddenProfile{
  animation: hiddenProfileAnimation .2s;
  animation-fill-mode: forwards;
}
@keyframes showProfileAnimation {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 10%;
  }
  30% {
    width: 15%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 25%;
  }
  60% {
    width: 30%;
  }
  70% {
    width: 35%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 45%;
  }
  100% {
    width: 50%;
  }
}
@keyframes hiddenProfileAnimation {
  0% {
    width: 50%;
  }
  10% {
    width: 45%;
  }
  20% {
    width: 40%;
  }
  30% {
    width: 35%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 25%;
  }
  60% {
    width: 20%;
  }
  70% {
    width: 15%;
  }
  80% {
    width: 10%;
  }
  90% {
    width: 5%;
  }
  100% {
    width: 0;
  }
}
// 移动端分类蒙层切换动画
.showShadowProfile{
  animation: hiddenShadowProfileAnimation .2s;
  animation-fill-mode: forwards;

}
.hiddenShadowProfile{
  animation: showShadowProfileAnimation .2s;
  animation-fill-mode: forwards;
}
@keyframes showShadowProfileAnimation {
  0% {
    left: 0;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 20%;
  }
  30% {
    left: 30%;
  }
  40% {
    left: 40%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 60%;
  }
  70% {
    left: 70%;
  }
  80% {
    left: 80%;
  }
  90% {
    left: 90%;
  }
  100% {
    left: 100%;
  }
}
@keyframes hiddenShadowProfileAnimation {
  0% {
    left: 100%;
  }
  10% {
    left: 90%;
  }
  20% {
    left: 80%;
  }
  30% {
    left: 70%;
  }
  40% {
    left: 60%;
  }
  50% {
    left: 50%;
  }
  60% {
    left: 40%;
  }
  70% {
    left: 30%;
  }
  80% {
    left: 20%;
  }
  90% {
    left: 10%;
  }
  100% {
    left: 0;
  }
}