// 移动端分类切换动画
.showProfile{
  animation: showProfileAnimation .2s;
  animation-fill-mode: forwards;
}
.hiddenProfile{
  animation: hiddenProfileAnimation .2s;
  animation-fill-mode: forwards;
}
@keyframes showProfileAnimation {
  from {
    width: 0;
  }
  to{
    width: 60%;
  }
}
@keyframes hiddenProfileAnimation {
  from{
    width: 60%;
  }
  to{
    width: 0;
  }
}
// 移动端分类蒙层切换动画
.showShadowProfile{
  animation: showShadowProfileAnimation .2s;
  animation-fill-mode: forwards;

}
.hiddenShadowProfile{
  animation: hiddenShadowProfileAnimation .2s;
  animation-fill-mode: forwards;
}
@keyframes hiddenShadowProfileAnimation {
  from {
    left: 0;
  }
  to{
    left: 100%;
  }
}
@keyframes showShadowProfileAnimation {
  from {
    left: 100%;
  }
  to{
    left: 0;
  }
}
// 微信
.wx:hover{
  &::after{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    width:160px;
    height:30px;
    text-align: center;
    line-height: 30px;
    color:white;
    border-radius: 6px;
    content:attr(content);
    background-color: #3D4451;
    -webkit-animation-name: backInDown;
    animation-name: backInDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
/* Back entrances */
@-webkit-keyframes backInDown {
  0% {
    -webkit-transform: translateY(-1200px) scale(0.7);
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInDown {
  0% {
    -webkit-transform: translateY(-1200px) scale(0.7);
    transform:translateX(-50%) translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform:translateX(-50%) translateY(-170%) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform:translateX(-50%) translateY(-170%) scale(1);
    opacity: 1;
  }
}

