// 圆点开始
figcaption.line-numbers-head {
  margin-top:4px;
  width: 100%;
  color: #8d949e;
  background-color: #21252b;
  zoom: 1;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-right: 6px;
}

figcaption.line-numbers-head .language {
  position: relative;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
}

figcaption.line-numbers-head .custom-carbon-dot {
  display: inline-block;
  margin: 0 4px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

figcaption.line-numbers-head .custom-carbon-dot--red {
  background-color: #ff5f56;
}

figcaption.line-numbers-head .custom-carbon-dot--yellow {
  background-color: #ffbd2e;
}

figcaption.line-numbers-head .custom-carbon-dot--green {
  background-color: #27c93f;
}

figcaption.line-numbers-head .custom-carbon {
  padding-left: 9px;
}

pre.line-numbers {
  margin-top: 0;
  background-color: #f5f6f7;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
// 圆点结束

// code高亮
.markdown-body {
  p{
    margon-top:4px;
  }
  .hljs{
    background-color: transparent;
  }
  code:not(.hljs) {
    background: #f5f6f7;
    color: #e67474;
    word-break: break-word;
    font-family: Source Code Pro, monospace;
    padding: 2px;
    text-shadow: none;
    border-radius: 5px;
  }
}
textarea{
  position: absolute;
  top:0;
  left:0;
  z-index: -10;
}
