#backTop{
  background-image: url('https://cdn.jsdelivr.net/gh/LIlGG/cdn@1.0.8/img/Sakura/images/scroll.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 60%;
}
.showBackTop{
  animation: showBackTopAnimation .5s ease-in-out;
  animation-fill-mode: forwards;
}
.hiddenBackTop{
  animation: hiddenBackTopAnimation .5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes showBackTopAnimation {
  from {
    top:-100%;
  }
  to {
    top:0;
  }
}
@keyframes hiddenBackTopAnimation {
  from {
    top:0;
  }
  to {
    top:-100%;
  }
}
