h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin: 10px 0 0 0;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 24px;
}
h4{
  display: block;
  background-color: white;
  font-size: 22px;
  position: sticky;
  top: -32px;
}
h5{
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
// code高亮
.markdown-body {
  color: #383838;
  font-size: 15px;
  line-height: 37.5px;
  letter-spacing: 2px;
  word-break: break-word;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  a{
    display: inline-block;
    cursor: pointer;
    padding-bottom: 2px;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    color: #a862ea;
    &:hover:after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    &:after {
      content: "";
      position: absolute;
      width: 98%;
      height: 2px;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      background-color: #a862ea;
      transform-origin: bottom right;
      transition: transform .3s ease-in-out;
    }
  }
  p{
    margin-top:10px;
  }
  img{
    box-shadow: 0 0 20px 0 #e7daff;
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2,0,.2,1)!important;
    &:hover {
      opacity: 1;
      transform: translateY(-2px);
    }
  }
  .hljs{
    background-color: transparent;
  }
  code:not(.hljs) {
    word-break: break-word;
    font-family: Source Code Pro, monospace;
    padding: 0 5px;
    margin:0 4px;
    text-shadow: none;
    color: #476582;
    border-radius: 3px;
    background-color: #f8f5ff;
  }
  code:is(.hljs){
    line-height: 24px;
    background-color: #f8f5ff;
    letter-spacing: 1px;
    font-family: Source Code Pro, monospace;
  }
  // blockquote
  blockquote {
    padding: .5em 1em;
    margin: 15px 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 4px solid #a862ea;
    background-color: #f8f5ff;
  }
  // 圆点开始
  figcaption.line-numbers-head {
    margin-top:10px;
    width: 100%;
    color: #8d949e;
    background-color: #21252b;
    zoom: 1;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-right: 6px;
  }

  figcaption.line-numbers-head .language {
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
  }

  figcaption.line-numbers-head .custom-carbon-dot {
    display: inline-block;
    margin: 0 4px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }

  figcaption.line-numbers-head .custom-carbon-dot--red {
    background-color: #ff5f56;
  }

  figcaption.line-numbers-head .custom-carbon-dot--yellow {
    background-color: #ffbd2e;
  }

  figcaption.line-numbers-head .custom-carbon-dot--green {
    background-color: #27c93f;
  }

  figcaption.line-numbers-head .custom-carbon {
    padding-left: 9px;
  }

  pre.line-numbers {
    margin-top: 0;
    background-color: #f5f6f7;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  // 圆点结束
}
// 复制选中样式
.markdown-body ::selection {
  color: #fff;
  background-color: #a862ea;
}
.markdown-body pre>code::-webkit-scrollbar-thumb {
  background-color: #e7daff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
textarea{
  position: absolute;
  top:0;
  left:0;
  z-index: -10;
}
