// 切换模式开始
.dark {
  animation: darkAnimation .1s alternate;
  animation-fill-mode: forwards;
  left: 0;
}

@keyframes darkAnimation {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

.light {
  animation: lightAnimation .1s alternate;
  animation-fill-mode: forwards;
}


.lightMode {
  .malfunction {
    color: rgb(255, 208, 67);
  }

  .malfunction::after {
    color: red;
    background-color: rgb(255, 208, 67);
  }
}

@keyframes lightAnimation {
  from {
    left: 50%;
  }
  to{
    left:0;
  }
}

// 移动端分类切换动画
.showList{
  animation: showListAnimation .2s;
  animation-fill-mode: forwards;
}
.hiddenList{
  animation: hiddenListAnimation .2s;
  animation-fill-mode: forwards;
}
@keyframes showListAnimation {
  from {
    width: 0;
  }
  to{
    width: 50%;
  }
}
@keyframes hiddenListAnimation {
  from {
    width: 50%;
  }
  to{
    width: 0;
  }
}

// 移动端分类阴影切换动画
.showShadowList{
  animation: showShadowListAnimation .2s;
  animation-fill-mode: forwards;
}
.hiddenShadowList{
  animation: hiddenShadowListAnimation .2s;
  animation-fill-mode: forwards;
}
@keyframes showShadowListAnimation {
  from {
    width: 0;
  }
  to{
    width: 100%;
  }
}
@keyframes hiddenShadowListAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}