.font{
  font-family:'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
}
.leaveTitle{
  animation: leaveTitleAni .2s;
  animation-fill-mode: forwards;
}
.hoverTitle{
  animation: hoverTitleAni .2s;
  animation-fill-mode: forwards;
}
@keyframes hoverTitleAni {
  100%{
    color:rgb(255,145,0);
  }
}
@keyframes leaveTitleAni {
  0%{
    color:rgb(255,145,0);
  }
  100%{
    color:#000;
  }
}