.shadow{
  background: rgba(0, 0, 0, 0.7);
  cursor: zoom-out;
}
.appear-enter-active,
.appear-leave-active {
  transition: all 0.3s ease-in-out;
}
.appear-enter-from {
  opacity: 0;
}
.appear-leave-to {
  opacity: 0;
}
